{% extends 'base/base.html' %}
{% block navbar%}
{% endblock %}
{% block content %}

<div class="row justify-content-center py-3" style="max-width: 80vw; padding-left: 16vw;">
	<p class="text-left text-uppercase font-weight-bold ">Recuperar contraseña</p>
</div>
<div class="row justify-content-center py-0" style="max-width: 80vw; padding-left: 25vw;">
	<form method="post">
		{% csrf_token %}
	<div class="form-group">
		<label  class="pt-3" for="id_email">Correo:</label>  {{ form.email }}
		<input class="btn btn-primary" type="submit" value="Enviar"/>
		 </div>
	</form>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}
